{% extends 'base.html' %}
{% block titulo %}
Reseteo de Contraseña
{% endblock titulo%}

{% block contenido %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">
                    Introduzca la nueva contraseña

                    Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente.

                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit"class="btn btn-primary">Cambiar mi contraseña</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}