{% extends 'base.html' %}
{% block titulo %}
Reseteo de Contraseña
{% endblock titulo%}

{% block contenido %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">
                    <p>
                        Restablecimiento de contraseña enviado
                        Le enviamos instrucciones por correo electrónico para configurar su contraseña, 
                        si existe una cuenta con el correo electrónico que ingresó. 
                        Debería recibirlos en breve.
                        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la
                        que se registró y verifique su carpeta de correo no deseado.
                        
                    </p>

                    
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}