{% extends 'base.html' %}
{% block titulo %}
Reseteo de Contraseña
{% endblock titulo%}

{% block contenido %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">
                    ¿Ha olvidado su contraseña?
                    Cambia tu contraseña en tres sencillos pasos. ¡Esto le ayudará a asegurar su contraseña!

                    <ul>
                        <li>Introduzca su dirección de correo electrónico a continuación. </li>
                        <li>Nuestro sistema le enviará un enlace temporal </li>
                        <li>Utilice el enlace para restablecer su contraseña </li>
                    </ul>

                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit"class="btn btn-primary">Enviar correo de recuperacion</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}